<!-- add a searchbar -->
<div class="row">
    <%= render :partial => "jobs/search_bar" %>
</div>

<table class="table table-boldered">
  <thead>
    <tr>
      <td><i class="fa fa-globe" aria-hidden="true"></i>Job Supply</td>
      <td><i class="fa fa-building" aria-hidden="true"></i>Company</td>
      <td><i class="fa fa-location-arrow" aria-hidden="true"></i>Location</td>
      <td><i class="fa fa-money" aria-hidden="true"></i>Salary</td>
      <td><i class="fa fa-clock-o" aria-hidden="true"></i>Post Time</td>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job|%>
      <tr>
        <td>
          <%= link_to job.title, job%>
        </td>
        <td><%= job.company%></td>
        <td><%= job.location%></td>
        <td><%= job.wage_lower_bound%> ~ <%= job.wage_upper_bound%></td>
        <td>Submitted <%= time_ago_in_words(job.created_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>

  <div class="dropdown clearfix pull-right">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Filter by
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
      <li>
        <%= link_to("wage lower bound", jobs_path(order: "by_lower_bound"))%>
      </li>
      <li>
        <%= link_to("wage upper bound", jobs_path(order: "by_upper_bound"))%>
      </li>
      <li>
        <%= link_to("post time", jobs_path)%>
      </li>
    </ul>
  </div>

</table>


<div class="text-center">
  <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
</div>
