

<div class="container login-page">
			<div class="row main">
				<div class="panel-heading">
           <div class="panel-title text-center">
           		<h1>Log In</h1>
           		<hr />
           	</div>
        </div>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="#">

						<div class="form-group">

							<div class="cols-sm-10">
								<div class="input-group">
									<!-- <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span> -->
                  <%= f.input :email, required: false, autofocus: true  %>
									<!-- <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/> -->
								</div>
							</div>
						</div>

						<div class="form-group">

							<div class="cols-sm-10">
								<div class="input-group">
									<!-- <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span> -->
                  <%= f.input :password, required: false%>
									<!-- <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/> -->
								</div>
							</div>
						</div>

						<div>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

						<div class="form-actions style="margin-top: 20px;">
							<%= f.button :submit, "Log in" ,class: "btn btn-primary btn-block login-button" %>
						</div>
						<div class="login-register" style="margin-top: 10px;">
  	            <small><%= render "devise/shared/links" %></small>
  	         </div>
					</form>
				</div>
        <% end %>

			</div>
		</div>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
