<h3 style="margin: 50px 0;">Send a resume to: <%= @job.title%></h3>

<hr />

<div style="margin-bottom: 50px;">
  <%= simple_form_for [@job, @resume] do |f| %>
    <%= f.input :content%>
    <%= f.input :attachment%>
    <%= f.submit "Submit" %>
  <% end %>
</div>
