
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navigation-bar">
        <div class="row">
            <div class="col-md-5">
                <ol>

                  <%= link_to("Big Offer", href="/", class: "fa fa-viacoin")%>
                  <%= link_to("Explore", href="/jobs", class: "btn btn-lg")%>
                </ol>
            </div>



            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="nav navbar-nav navbar-right">
                <li>
                  <% if !current_user %>
                    <li>
                      <%= link_to('<span class="glyphicon glyphicon-log-in"></span> Login'.html_safe, new_user_session_path, class: "btn btn-success") %>
                    </li>
                    <li>
                      <%= link_to('<span class="glyphicon glyphicon-user"></span> Sign up'.html_safe, new_user_registration_path, class: "btn btn-success") %>
                    </li>

                  <% else %>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <spam class="btn btn-success"><i class="fa fa-user-circle"></i> <%= current_user.email%>
                          <b class="caret"></b>
                          </spam>
                      </a>
                      <ul class="dropdown-menu btn btn-log">
                        <% if current_user.admin? %>
                          <li>
                            <%= link_to("Admin Panel", admin_jobs_path)%>
                          </li>
                        <% end %>
                          <li>
                            <%= link_to("My Jobs", account_jobs_path) %>
                          </li>
                          <li>
                            <%= link_to("<span class='glyphicon glyphicon-log-out'></span> Logout".html_safe, destroy_user_session_path, method: :delete) %>
                          </li>
                      </ul>
                    </Li>
                  <% end %>
                </li>
              </ul>
            </div>
        </div>
    </div>
  </div>
</nav>
